@import 'mixins';

// радіус кола по якому розташовуються проекти
// зараз воно дорівнює 165% від висоти екрану
$circle-radius: 132vh;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: #fff; // #eceadd;
}

.circular-wrapper {
  position: absolute;
  width: $circle-radius * 2;
  height: $circle-radius * 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-mock {
  position: absolute;
  width: $circle-radius * 2;
  height: $circle-radius * 2;
  margin: 0 auto;
  top: 50%;
}

.center {
  position: absolute;
  left: 50%;
  top: $circle-radius;
}

.project-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translateX(-50%);
}

.project {
  width: 100%;
  height: 100%;
  position: relative;
}

.project-video,
.project-img {
  max-height: 93%;
  max-width: 93%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.logo {
  @include size('width', false, 161);

  opacity: 1;
  transition: visibility, opacity 0.2s linear;

  &-hidden {
    opacity: 0;
  }
}


.logo-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  margin-top: 2.7vw;
}

.slide {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 0;

  &--item {
    max-height: 75vh;
    max-width: 78%;
  }

  &.active {
    opacity: 1;
  }
  &-hidden {
    opacity: 0;
  }
  &-invisible {
    visibility: hidden;
  }
}

.slider {
  overflow: hidden;

  &__arrows {
    @include size('bottom', false, 43);
    @include size('height', false, 20);

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s linear;
    z-index: 100;

    &-visible {
      opacity: 1;
    }
  }
}
