@import 'mixins';
@import 'slider';
@import 'contact';

$circle-radius: 150vh;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: #fff; // #eceadd;
}

.circular-wrapper {
  position: absolute;
  width: $circle-radius * 2;
  height: $circle-radius * 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-mock {
  position: absolute;
  width: $circle-radius * 2;
  height: $circle-radius * 2;
  margin: 0 auto;
  top: 50%;
}

.center {
  position: absolute;
  left: 50%;
  top: $circle-radius;
}

.project-wrapper {
  position: absolute;
  transform: translateX(-50%);
}

.project {
  width: 100%;
  height: 100%;
  position: relative;
}

.project-video,
.project-img {
  max-height: 93%;
  max-width: 93%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.logo {
  @include size('width', false, 161);

  transition: transform 0.4s ease-in-out;

  &-hidden {
   transform: translateY(-250%);
  }
}

.logo-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  margin-top: 2.7vw;
}

.slide {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 0;

  &--item {
    max-height: 100vh;
    max-width: 100%;
  }

  &--video {
    @include size('width', false, 1100);
  }

  &-hidden {
    visibility: hidden;
  }


  &-invisible {
    visibility: hidden;
  }
}

.slider {

  &__arrows {
    @include size('bottom', false, 46);
    @include size('height', false, 20);

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s linear;
    z-index: 100;
    cursor: none;

    &-visible {
      opacity: 1;
      cursor: pointer;
    }

    @include for-desktop {
      display: none;
    }
  }

  &-clicker-left, &-clicker-right {
    position: absolute;
    top:0;
    width: 50vw;
    height: 80vh;
    visibility: hidden;

    &-active {
      visibility: visible;
    }
  }

  &-clicker-left {
    left: 0;
    cursor:  url('/img/left-arrow-big.svg'), auto;
  }

  &-clicker-right {
    cursor:  url('/img/right-arrow-big.svg'), auto;
    right: 0;
  }
}
