@import 'mixins';
@import 'variables';

html, body {
  height: 100%;
}


.info {
  @include for-desktop {
    display: none;
  }
  background-color: #000;
  overflow: auto;

  &__image {
    @include size('height', 180, false);
    @include size('width', 288, false);
    @include size('margin-top', 72, false);
    margin-left: auto;
    margin-right: auto;

    img {
      display: block;
      width: 100%;
    }
  }
  &__close-icon{
    @include size('margin-top', 376, false);
    @include size('margin-bottom', 120, false);
    @include size('margin-left', 24, false);
  }

}
