@import 'mixins';

.intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.intro {
  &__logo {
    height: 10.4vw;
    z-index: 1;
    left:0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__letters {
    @include size('width', 314, 1254);
    @include size('height', 37.5, 150);

    position: absolute;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: margin-top 0.2s ease;

    &--top {
      margin-top: -10.4vw;
    }
  }

  &__letter {
    position: absolute;
    height: 100%;
    left: 0;
    padding-bottom: 1.9%;
    transition: left 0.5s ease 0.65s, opacity 0.25s ease 0.7s, padding-bottom 0.4s ease 0.85s, visibility 0.4s ease 0.7s;

    &-m {
      left: 0;
    }

    &-o {
      left: 14.7%;
    }

    &-m2 {
      left: 24.2%;
    }

    &-d {
      left: 42.3%;
    }

    &-e {
      left: 53.4%;
    }

    &-s {
      left: 62.35%;
    }

    &-i {
      padding-bottom: 0;
      left: 70.3%;
    }

    &-g {
      left: 79.95%;
    }

    &-n {
      left: 89.2%;
    }

    &-n2 {
      left: 48.4%;
    }

    &-y {
      left: 59.1%;
      padding-bottom: 0;
    }

    &-c {
      left: 67%;
    }

    &-n2, &-y, &-c {
      visibility: hidden;
      opacity: 0;
    }

    .intro__letters--short & {
      & {
        padding-bottom: 2.3%;
      }

      &-m {
        left: 24.7%;
      }

      &-o {
        left: 38.45%;
      }

      &-n2, &-y, &-c {
        visibility: visible;
        opacity: 1;
      }

      &-y {
        padding-bottom: 0;
      }

      &-m, &-o, &-e, &-s, &-i, &-g, &-n {
        opacity: 0;
      }

      &-m2 {
        left: 24.7%;
      }

      &-d {
        left: 38.45%;
      }

      &-i {
        left: 48.4%;
      }

      &-g {
        left: 59.1%;
      }

      &-n {
        left: 67%;
      }
    }
  }

  &__letter-img {
    max-height: 100%;
  }
}

.old-logo {
  max-height: 100%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  height: 10.4vw;
  transform: translateY(-50%);
}

.mdnyc-test {
  @include size('width', 314, 1254);
  @include size('height', 37.5, 150);

  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
}
