@import 'mixins';

.intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.intro {
  &__logo {
    height: 10.4vw;
    width: 80%;
    z-index: 1;
    left:0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(+12.5%, -50%);
    pointer-events: none;
  }
}
