@import 'mixins';

.more {
  @include size('margin-left', false, 65);
  @include size('margin-right', false, 65);
  @include size('margin-bottom', false, 43);

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  right: 0;
  max-width: 30%;

  &__name, &__header {
    @include size('font-size', 20, 42);
    @include size('letter-spacing', -0.4, -1.23);

    text-transform: uppercase;
    font-family: 'trade-gothic-next-compressed', sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: opacity 0.2s linear;
  }

  &__name {
    @include size('line-height', false, 34);
    @include size('max-width', false, 279);

    opacity: 1;

    &-hidden {
      opacity: 0;
    }
  }

  &__header {
    @include size('top', false, -48);

    position: relative;
    opacity: 0;
    &-visible {
      opacity: 1;
    }
  }

  &__info, &__service, &__year {
    @include size('font-size', false, 10);
    @include size('letter-spacing', false, 0.4);

    text-transform: uppercase;
    font-weight: 600;
    font-family: $font-primary;
  }

  &__info {
    @include size('margin-top', false, 15);
    @include size('max-width', false, 192);
  }

  &__year {
    @include size('margin-top', false, 6);
  }

  &__buttons-wrapper {
    @include size('margin-top', false, 27);

    position: relative;
  }

  &__button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    position: relative;
    cursor: pointer;
  }

  &__icon {
    @include size('width', false, 20);
    @include size('height', false, 20);

    transition: opacity 0.2s linear;
    cursor: pointer;
  }

  &__icon-info {
    opacity: 1;
  }

  &__icon-info-visible {
    opacity: 0;
  }

  &__icon-close {
    opacity: 0;
    position: absolute;
    z-index: 5;
    top: 0;
    left:0;
  }

  &__icon-close--visible {
    opacity: 1;
  }

  &__copy {
    @include size('margin-left', false, 81);

    opacity: 0;
    transition: opacity 0.2s linear;

    &-visible {
      opacity: 1;
    }
  }
}
