@import 'mixins';
@import 'variables';


.project {
  @include for-desktop {
    display: none;
  }
  &__wrapper {
    @include size('max-width', 328, false);
    @include size('height', 608, false);

    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  &__close-icon{
    @include size('top', 22, false);
    @include size('left', 329, false);

    position: fixed;
  }
  &__name {
    @include trade-gothic;
    @include size('top', 15, false);
    @include size('font-size', 42, false);
    @include size('line-height', 34, false);
    @include size('letter-spacing', -0.7, false);

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    white-space: nowrap;
    text-align: center;
  }
  &__details {
    @include size('font-size', 10, false);
    @include size('letter-spacing', 0.4, false);
    @include size('line-height', 14, false);

    font-family: $font-primary;

  }
  &__link-icon {
    @include size('margin-top', 27, false);
    @include size('margin-bottom', 27, false);

  }

  &__image {
    overflow: hidden;
    display: block;
    width: 100%;
  }
}
