@import 'mixins';
@import 'variables';

html, body {
  height: 100%;
}


.project {
  @include for-desktop {
    display: none;
  }
  &__sticky {
    @include size('margin-top', 15, false);
    @include size('top', 15, false);

    position: sticky;
  }
  &__close-icon{
    @include size('margin-top', 7, false);

    position: absolute;
    right: 0;
  }
  &__wrapper {
    @include size('max-width', 328, false);
    @include size('height', 608, false);

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__name {
    @include trade-gothic;

    @include size('font-size', 42, false);
    @include size('line-height', 34, false);
    @include size('letter-spacing', -0.7, false);

    text-align: center;
  }
  &__details {
    @include size('font-size', 10, false);
    @include size('letter-spacing', 0.4, false);
    @include size('line-height', 14, false);

    font-family: $font-primary;
  }
  &__link-icon {
    @include size('margin-top', 27, false);
    @include size('margin-bottom', 27, false);
  }
  &__image {
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }
}
