@import 'mixins';
@import 'variables';
@import 'project-page';

html, body {
  height: 100%;
}

.projects {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  transition: background-color 1s linear;
  display: none;

  @include for-desktop {
    display: block;
  }

  &__row {
    height: 20%;
    display: flex;
  }

  &__item {
    width: 20%;
    overflow: hidden;
    position: relative;

    &--wrapper {
      position: absolute;
      top: 100%;
      height: 100%;
      width: 100%;
      transition: transform 0.6s ease-in-out;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      object-position: center;
    }
  }

  &__img--mask {
    position: relative;
    height: 100%;

    overflow: hidden;

  }
  &__info--wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobile {
  @include for-desktop {
    display: none;
  }
  &__wrapper{
    @include size('max-width', 328, false);

    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__header {
    @include size('margin-top', 15, false);

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__footer {
  }
  &__details {
    @include size('font-size', 10, false);
    @include size('letter-spacing', 0.4, false);
    @include size('line-height', 14, false);

    font-family: $font-primary;
  }
  &__line {
    @include size('margin-bottom', 15, false);

    border-width: 1px;
    border-color: #000000;
    border-bottom: none;
  }
  &__info-icon {
    @include size('width', 20, false);
    @include size('height', 20, false);
    @include size('margin-bottom', 36, false);

    object-fit: contain;
  }
  &__item {
    overflow: hidden;
    img {
      @include size('height', 234, false);

      display: block;
      width: 100%;
    }
  }
}
